<article class="row" *ngFor="let comment of comments.comments">
    <div class="col-md-2 col-sm-2 hidden-xs">
        <figure class="thumbnail">
            <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg">
            <figcaption class="text-center">{{comment.fromUserName}}</figcaption>
        </figure>
    </div>
    <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
            <div class="panel-body">
                <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                </header>
                <div class="comment-post">
                    <p>
                        {{comment.comment}}
                    </p>
                </div>
                <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
            </div>
        </div>
    </div>
</article>

<form class="form">
    <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control" [ngModel]='userName' value="Pesho Kalibrata" name="none" />
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" [ngModel]='inputComment' id="comment" name="none"></textarea>
    </div>
    <div class="form-group">
        <button (click)='onSaveComment()' class="btn btn-default">Post</button>
    </div>
</form>